[flake8]
max-line-length = 127
max-complexity = 10
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    .eggs,
    *.egg,
    mlruns,
    mlflow.db
ignore = E203,E266,E501,W503,F401
select = E9,F63,F7,F82,E,W,F
per-file-ignores =
    __init__.py:F401

